### Análisis de grupos funcionales y preparación de datos para regresión de Dirichlet

In [27]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [18]:
df = pd.read_csv('data/dataset_preprocessed.csv')

Agruparemos los alimentos que componen la mayor parte de la dieta de la codorniz en grupos funcionales. Cada uno de estos grupos está caracterizado por las condiciones climatológicas favorables para su desarrollo y producción.

In [19]:
temperatura_baja_alta_prec = ['Cyp.bulb', 'Oxalis', 'Cyp.rizo']
temperatura_baja_poca_prec = ['Piptochaetium.fimbriatum']
temperatura_alta_alta_prec = ['Commelina.dianthifolia','Paspalum.distichum', 'Setaria' ]
temperatura_alta_poca_prec = ['Quercus','Phaseolus', 'Setaria', 'Euphorbia probably E. bilobata', 'Urochloa', 'Physalis', 'Insectos' ]

In [20]:
df['tbpa'] = df[temperatura_baja_alta_prec].sum(axis = 1)
df['tbpp'] = df[temperatura_baja_poca_prec].sum(axis = 1)
df['tapa'] = df[temperatura_alta_alta_prec].sum(axis = 1)
df['tapp'] = df[temperatura_alta_poca_prec].sum(axis = 1)

df.drop(columns = df.columns[5:136], inplace = True)
df.drop(columns = ['Unnamed: 0', 'id', 'edad', 'sexo', 'lat', 'lon', 'gap'], inplace = True)

In [22]:
df['sum'] = df['tbpa'] + df['tbpp'] + df['tapa'] + df['tapp']

In [23]:
df['tbpa'] = df['tbpa']/df['sum']
df['tbpp'] = df['tbpp']/df['sum']
df['tapa'] = df['tapa']/df['sum']
df['tapp'] = df['tapp']/df['sum']

In [24]:
df.drop(columns = 'sum', inplace = True)

In [26]:
df.head(3)

,estado,time,dist camino,ppanual17,tmedia17,altitud,hcrop,hland,tbpa,tbpp,tapa,tapp
0,NM,1420.0,251.86,462.0,7.054167,2518.0,0.000000,0.798600,1.00000,0.0,0.000000,0.000000
1,NM,1420.0,251.86,462.0,7.054167,2518.0,0.000000,0.798600,1.00000,0.0,0.000000,0.000000
2,AZ,1700.0,574.06,515.0,15.954167,1527.0,0.785803,1.245916,0.83108,0.0,0.000543,0.168376

In [38]:
grupos_funcionales = ['tbpa', 'tbpp', 'tapa', 'tapp']

list_mean = []

for grupo_funcional in grupos_funcionales:
    print(f"En promedio, {grupo_funcional} cubre el {np.mean(df[grupo_funcional]) * 100}% de la dieta")
    list_mean.append(np.mean(df[grupo_funcional]) * 100)

En promedio, tbpa cubre el 56.80816326861049% de la dieta
En promedio, tbpp cubre el 1.1398244843974112% de la dieta
En promedio, tapa cubre el 4.638474409667637% de la dieta
En promedio, tapp cubre el 37.41353783732446% de la dieta